@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h2>Edit</h2>

<h4>Edit this task: @Html.DisplayFor(model => model.Description)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.RecipeId)

  @Html.LabelFor(model => model.Description)
  @Html.EditorFor(model => model.Description)

  <p>Rate on a scale of 1-10:</p>
  @Html.TextBoxFor(model => model.Rating)

  @Html.LabelFor(model => model.Steps)
  @Html.TextBoxFor(model => model.Steps)

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>