@{
  Layout = "_Layout";
}

<h1>Welcome to the Recipe Box!</h1>
<hr />

<p>@Html.ActionLink("See all categories", "Index", "Categories")</p>
<p>@Html.ActionLink("See all recipes", "Index", "Recipes")</p>
<p>@Html.ActionLink("See all ingredients", "Index", "Ingredients")</p>
<p>@Html.ActionLink("Log In", "Login", "Account")</p>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>
